# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/node_modules
/.pnp
.pnp.*
/frontend/.yarn/*
/frontend/.yarn/patches
/frontend/.yarn/plugins
/frontend/.yarn/releases
/frontend/.yarn/versions

# testing
/frontend/coverage

# next.js
.next/
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
/frontend/next-env.d.ts

# prisma
/backend/prisma/migrations/
node_modules
